body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.crypto__header {
    max-height: 125px;
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100vw;
    background: #3A4EFF;
    color: white;
}

.crypto__header p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #FFFFFF;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.crypto__auth_block {
    width: 385px;
    margin: 0 auto;
    margin-top: 15vh;
}

.crypto__auth_block p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #1B1B1B;
    margin-top: 50px;
    color: #1B1B1B;
    margin-bottom: 10px;
}

.crypto__auth_block input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid #1B1B1B;
    font-size: 20px;
    outline: none;
    font-weight: 700;
}

.auth__button {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background: #1B1B1B;
    outline: none;
    border: 2px solid transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.auth__button:hover {
    border: 2px solid #1B1B1B;
    color: #1B1B1B;
    background: transparent;
}

.crypto__panel {
    width: 100%;
    margin-top: 10vh;
}

.panel__currency {
    display: flex;
    align-items: center;
}

.currency {
    width: 180px;
    height: 50px;
    display: flex;
}

.currency img {
    width: 30px;
}

.panel__currency {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.currency p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.panel__left_block div {
    display: flex;
}

.deposit {
    display: flex;
}

.crypto__panel p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    color: #1B1B1B;
    text-transform: uppercase;
}

.currency {
    align-items: center;
}

.currency p {
    margin-right: 20px;
}

.panel__price {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}

.panel__price>div {
    display: block;
}

.buy__price {
    margin-bottom: 10px;
}

.panel__price div>p {
    font-weight: 500;
}

.panel__balance {
    margin-top: 30px;
}

.panel__balance span {
    font-weight: 500;
}

.panel__left_block {
    margin-top: 50px;
    border: 2px solid #000000;
    padding: 30px;
    max-width: 400px;
}

.panel__left_block>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.total__value {
    margin-bottom: 20px;
}

.total__value span {
    font-weight: 500;
}

.crypto__left_checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crypto__left_checkbox p {
    font-size: 14px;
    font-weight: 500;
}

input {
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.panel__left_buttons button {
    width: 48%;
    height: 50px;
    background: #1B1B1B;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border: 2px solid #1B1B1B;
}

.crypto__right {
    width: 65%;
}

.crypto__panel {
    display: flex;
    justify-content: space-between;
}

.panel__left_block input {
    width: 40%;
}

.crypto__left_checkbox input {
    width: 10%;
}

.panel__left_buttons {
    margin-bottom: 0 !important;
}

.crypto__right {
    text-align: center;
}

.crypto__buttons {
    display: block;
    justify-content: space-between;
    margin-top: 20px;
}

.crypto__buttons button {
    width: 25%;
    height: 50px;
    background: #1B1B1B;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    border: 2px solid #1B1B1B;
}

button:hover {
    background: transparent;
    color: #1B1B1B;
    border: 2px solid #1B1B1B;
}

.crypto__item_text {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.crypto__item_text span {
    font-weight: 500;
}

.crypto__right_item {
    margin-top: 50px;
}

.crypto__item_block {
    display: flex;
}

.crypto__item_block div {
    width: calc(100%/6);
    padding-top: 10px;
}

.crypto__item_block {
    height: 100px;
    background: rgba(0, 0, 0, 0.171);
}

.crypto__item_title {
    font-size: 12px !important;
    margin-bottom: 10px;
}